body {
    background: black;
    color:#e98d02;
    font-size: large;
}

.clock {
    color: #e98d02;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.text1, .text2{
    color: #e98d02;
}